* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; }

/*estilos del header*/
.header__menu {
  background-color: #b2c0c1;
  /*modifica el bloque donde esta el logo y el menu*/
  height: 100px;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in; }
  .header__menu a {
    text-decoration: none;
    color: #5e5e5e; }
  .header__menu #carrito {
    padding: 2%; }

main {
  /* margin-top: 25px; */
  text-align: center; }
  main .home__mainContainer .fav h2 {
    margin-top: 5%;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: #103355;
    transition: all 300ms ease-in-out; }
  main .home__categoriesContainer {
    display: flex;
    height: 350px;
    justify-content: space-evenly;
    padding: 2rem;
    width: 95%;
    margin: 4rem auto;
    background-color: #e8dada;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
    main .home__categoriesContainer .home__categoriesContainer {
      display: flex;
      height: 350px;
      justify-content: space-evenly;
      padding: 2rem;
      width: 95%;
      margin: 4rem auto;
      background-color: #e8dada;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
      main .home__categoriesContainer .home__categoriesContainer .home__category--image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%; }

footer {
  margin-top: 3%;
  background-color: beige;
  /*le agrego el logo al footer cambiando sus colores para que sea una vista limpia*/
  padding: 10px; }
  footer .box__footer {
    padding: 10px; }
    footer .box__footer .logo img {
      width: 100px;
      height: 100px; }
  footer .iconos h2 {
    padding: 2%; }
    footer .iconos h2 .iconos a {
      margin-left: 50px; }
  footer .logowpp {
    /*se mantiene fijo el logo de wpp aunque el costumer scrolle*/
    position: fixed;
    right: 20px;
    bottom: 20px; }
    footer .logowpp .fa-whatsapp {
      /*el logo de wpp se corre del margen aplicando el ancho y el alto*/
      width: 50%;
      height: 50px; }
  footer .terminos {
    padding-top: 4%;
    text-align: center; }
