/*  Variables de las operaciones */

$beige: #e8dada;
$max-sss-device: 320px;
$max-ss-device: 340px;
$max-ms-device: 550px;
$max-mms-device: 600px; 
$max-mss-device: 660px;
$max-msm-device:675px; 
$max-medium-device: 770px;



