*{
    margin: 0px; 
    padding: 0; 
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

@import 'extend';
@import 'mixins';
@import 'variables';
@import 'general';
@import 'estilosSass';
@import 'maps';
@import 'style.css';


.gallery__topButton {
    @include flexCenter;
    color: $beige;

}


@media screen and (max-width: $max-mms-device ) {
    .header__menu{
       width: 60%;
       margin:0;
       position: fixed;
   }
   .container-fluid{
       /* display: flex; */
       margin-left: -30%;}
   
       .menu-navegacion{
            display: none;
           position: fixed;
           flex-direction: column;
           margin-left: 0;
           background-image: linear-gradient(to right,  #afc0c1, rgb(230, 230, 224));
           left: 0;
           bottom: 0;
           top: 100px;
           width: 70%;
           padding-top:50px;
           }
   
     
        .menu-navegacion.activado {
           display: block;
       }
   }
   
   @media screen and (max-width: $max-msm-device ){
   .menu-navegacion>li{
       
      margin-bottom: 18%;
       border-radius: 5px;
       padding: 0.5rem;
       font-size: 15px;
      }
   
      .home__category--link {
       width: 210px;
       height: 210px;
       margin: auto;
       padding: 2%;
      }
   }
   
   @media screen and (max-width: $max-ms-device){
       .menu-navegacion>li{
           
          margin-bottom: 18%;
           border-radius: 5px;
           padding: 0.5rem;
           font-size: 15px;
          }
       
          .home__category--link {
           width: 160px;
           height: 160px;
           margin: auto;
           padding: 2%;
          }
       }
   @media screen and (max-width:$max-ss-device ){
       .menu-navegacion>li{      
           margin-bottom: 18%;
           border-radius: 5px;
           padding: 0.5rem;
           font-size: 11px;
          }
   
       
   body .home__mainContainer section.home__categoriesContainer {
       display: flex;
       grid-template-columns: repeat(2, 1fr);
       grid-gap:8px;
       height: 2%;
       justify-content: space-evenly;
       padding: 3rem;
       width: 90%;
       margin: 2rem auto;
       background-image: rgb(232, 218, 218);
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
     flex-wrap: wrap;margin-bottom: 20%;}
   
     body .home__mainContainer section.home__categoriesContainer .home__category--image {
        @include flexCenter;
        width: auto;
      
     }
   
     .home__category--link {
       width: 140px;
       height: 140px;
       margin: auto;
       padding: 2%;
      }
   }
   
   
   
   
   
   @media screen and (max-width: $max-sss-device ){
       .menu-navegacion>li{
           
          margin-bottom: 18%;
           border-radius: 5px;
           padding: 0.5rem;
           font-size: 8.5px;
          }
   
          body main .home__mainContainer section.home__categoriesContainer {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-gap:8px;
           height: 2%;
           justify-content: space-evenly;
           padding: 3rem;
           width: 100%;
           margin: 2rem auto;
           background-color: rgb(232, 218, 218);
           box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
         }
       
         body .home__mainContainer section.home__categoriesContainer .home__category--image {
            @include flexCenter;
            width: auto;
          }

         .home__categoriesContainer .home__category--link{
             width: 140px;
             height: 140px;
             margin: auto;
         }
   
          main .section2{
           display: block;
           width: 10%;
           margin-bottom: 15%;
           margin-top: 20%;
   
       }
   
       
   
    }
   @media screen and (max-width: $max-medium-device ){
       .desplegable ul{
           margin-top: -25%;
          
           border-radius: 7px;
           position: absolute;
           top: 250%;
           left: 45%;
           width: 38%;
         }
   
         
       .menu-navegacion li{
             border-bottom: 1px solid rgba(255,255,255, 3);
           }
   
   
           header .menu_bar {
               display:flex;
               width: 100%;
               background: #b2c0c1;
               margin-bottom: 179%;
               padding: 5%;
           }
   
       .menu_bar .bt-menu{
           display: block ;
           padding: 30px;
           text-decoration: none;
           font-weight: bold;
           width: 71%;
           font-size: 25px;
           background-color: #b2c0c1;
           box-sizing: border-box;;
           position: fixed;
           top: 0;
           right: 0;
           
       
       }
   
       .home__mainContainer .home__category--image:hover{
           transform: scale( 1);
           padding: 6%;
           
       }
   
       .menu_bar span{
           float: right;
           font-size: 40px;
       }
   
       #carrito{
           display: none;
           margin-right: 0%;
           margin-top: -10%;
        
       
       }
   
       .carrito2{
           display: none;
       }
   
       .d-flex .form-control{
           display: none;
   
       }
       .d-flex .btn{
           display: none;
       }
   
       main .section2{
           display: block;
           width: 90%;
           margin-bottom: 15%;
           margin-top: 20%;
   
       }
      
       .section1{
           display: none;
       }
   
   
          
   .home__mainContainer section.home__categoriesContainer {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-gap:10px;
       height: 100%;
       justify-content: space-evenly;
       padding: 3rem;
       width: 90%;
       margin: 1rem auto;
       background-color: rgb(232, 218, 218);
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
       
     margin-bottom: 15%;}
   
     body .home__mainContainer section.home__categoriesContainer .home__category--image {
        @include flexCenter;
        width: auto;
      }
   
     #carrito{
         position: relative; 
        left:30%;
        top: 15px;
   
     }
   
     #carouselExampleControls .carousel-inner .carousel-item img{
   
       width: 150%;
       height: 150%;
   
     padding-bottom: 10%;}
     
     #carouselExampleControls .carousel-inner .carousel-item1 img{
   
       width: 250%;
       height: 250%;
   
     }
     
       
   }
   
   
   @media screen and (max-width: $max-mss-device ){
    
       
       .col-12 .boxMap{
   
       width: 50%;
       height: 50%;
   
   
       }
   
       .home__mainContainer .home__category--image:hover{
           transform: scale( 1);
           padding: 6%;
           
       }
   
       .menu_bar span{
           float: right;
           font-size: 40px;
       }
   
       #carrito{
           display: none;
           margin-right: 0%;
           margin-top: -10%;
        
       
       }
   
       .carrito2{
           display: none;
       }
   
       .d-flex .form-control{
           display: none;
   
       }
       .d-flex .btn{
           display: none;
       }
   
       main .section2{
           display: block;
           width: 90%;
           margin-bottom: 15%;
           margin-top: 20%;
   
       }
      
       .section1{
           display: none;
       }
   
   
          
   .home__mainContainer section.home__categoriesContainer {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-gap:10px;
       height: 100%;
       justify-content: space-evenly;
       padding: 3rem;
       width: 90%;
       margin: 5rem auto;
       background-color: rgb(232, 218, 218);
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
       
     }
   
     body .home__mainContainer section.home__categoriesContainer .home__category--image {
        @include flexCenter;
        width: auto;
      }
     
   
     #carouselExampleControls .carousel-inner .carousel-item img{
   
       width: 150%;
       height: 150%;
   
     padding-bottom: 10%;}
     
     #carouselExampleControls .carousel-inner .carousel-item1 img{
   
       width: 250%;
       height: 250%;
   
     }
     
       
   }
   